body.corps{
    background-color: rgb(25, 22, 32);
    
}
body.corps h1{
    color: rgba(233, 27, 27, 0.925);
    text-decoration-line: overline;
    padding-left: 35%;
    padding-top: 20%;
    
}

nav.navigation li{
    display: inline-block;
    padding-left: 20%;
    font-size: 20px;
    border-radius: 45px;
    height: 23px;    
}
li.button1 a{
    background-color: rgba(245, 6, 57, 0.822);
    text-decoration:none;
}
li.button2 a{
    background-color: rgb(233, 20, 20);
    text-decoration: none;
}
li.button3 a{
    background-color: rgb(221, 10, 28);
    text-decoration: none;
}
.fin{
    padding-top: 300px;
    text-decoration-color: rgb(26, 26, 151);
    color:#afa8a8;
}
p.enfom{
    color: #afa8a8;
}